body {
    margin: 0;
    padding: 0;
    font-family: verdana;
    background-color: black;
}

.header {
    border-bottom: 3px solid #32b9cd;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container {
    justify-content: space-between;
}

.titulo {
    color: #32b9cd;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    color: #e3b062;
    align-items: center;
}

.banner {
    padding: 40px 20px 30px 10px;
    color: white;
    height: 400px;
    background-image: url("imagens/bg-jelly-fish-para_outras_pags.png");
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p {
    font-size: 36px;
}

.banner .container p span {
    font-weight: bold;
}

.social {
    background-color: white;
    padding: 40px 20px 30px 10px;
}

.card {
    width: 150px;
    text-align: center;
    
}

.card img {
    width: 100%;
}

.card h4 {
    font-size: 24px;
}

.social .container {
    display: flex;
    justify-content: space-between;
}

.footer {
    height: 100px;
    background-color: rgb(4, 141, 95);
}

.footer .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer .container p {
    font-weight: bold;
    font-size: 20px;
}

.login .container{
    justify-content: center;
    align-items: center;
    background-image: url("imagens/bg-jelly-fish-para_outras_pags.png");
    background-size: cover;
    height: 75vh;
}

.card{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    border: 2px solid #32b9cd;
    border-radius: 50px;
}

.card h2{
    color: palevioletred;
}

.campo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo input{
    width: 200px;
    padding: 7px 15px;
    border:2px solid #32b9cd;
}

.formulario button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: palegoldenrod ;
}

a{
    text-decoration: none;
    color: #e3b062;
    cursor: pointer;
}

.agora{
    font-weight: 900;
}