body {
    margin: 0;
    padding: 0;
    font-family: verdana;
    background-color: black;
}

.header {
    border-bottom: 3px solid #32b9cd;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container {
    justify-content: space-between;
}

.titulo {
    color: #32b9cd;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    color: #e3b062;
    align-items: center;
}

.banner {
    padding: 40px 20px 30px 10px;
    color: white;
    height: 400px;
    background-image: url("imagens/bg-jelly-fish-para_outras_pags.png");
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p {
    font-size: 36px;
}

.banner .container p span {
    font-weight: bold;
}

.social {
    background-color: white;
    padding: 40px 20px 30px 10px;
}

.social .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
    
}

.social .card img {
    width: 150px;
}

.social .card h4 {
    font-size: 24px;
}

.social .container {
    display: flex;
    justify-content: space-between;
}

.footer {
    height: 100px;
    background-color: rgb(4, 141, 95);
}

.footer .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer .container p {
    font-weight: bold;
    font-size: 20px;
}

.login .container{
    justify-content: center;
    align-items: center;
    background-image: url("imagens/bg-jelly-fish-para_outras_pags.png");
    background-size: cover;
    height: 75vh;
}

.login .container .card{
    color: palevioletred;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 300px;
    width: 300px;
    border: 2px solid #32b9cd;
    border-radius: 20px;
}

.login .container .card h2{
    color: palevioletred;
}

.login .container .campo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.login .container .campo input{
    width: 200px;
    padding: 7px 15px;
    border:2px solid #32b9cd;
    border-radius: 50px;
    margin-top: 5px;
}

.login .container .formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .container .formulario button{
    align-self: center;
    width: 100px;
    color: white;
    padding: 10px 20px;
    background-color: palevioletred ;
    border-radius: 25px;
}

.cadastro .container{
    justify-content: center;
    align-items: center;
    background-image: url("imagens/bg-jelly-fish-para_outras_pags.png");
    background-size: cover;
    height: 75vh;
}

.cadastro .container .card{
    color: palevioletred;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 400px;
    width: 350px;
    border: 2px solid #32b9cd;
    border-radius: 10px;
}

.cadastro .container .card h2{
    color: palevioletred;
}

.cadastro .container .campo{
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.cadastro .container .campo input{
    width: 200px;
    padding: 7px 15px;
    border:2px solid #32b9cd;
    border-radius: 50px;
    margin-top: 5px;
}

.cadastro .container .formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastro .container .formulario button{
    align-self: center;
    width: 100px;
    color: white;
    padding: 10px 20px;
    background-color: deeppink ;
    border-radius: 25px;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: #e3b062;
    cursor: pointer;
}

.agora{
    font-weight: 900;
}




